		img   {
			height:300px;
      width:300px;    
      margin-left: auto;
      margin-right: auto 
      margin: 10px;
      border:10px solid blue;
      border-radius: 500px;
      -webkit-border-radius: 500px;
      -moz-border-radius: 500px;
		}
		body  {
			background: url("images/Background.jpg");
			background-repeat: no-repeat;
			background-position: absolute;
			background-size: cover;
			text-align: center;
			background-attachment: fixed;
		}
		p     {
			font-size: 30px;
			color: white;
		}
		input  {
			padding: 10px;
			border: 0;

		}
		input[type="submit"]	{
			background-color: blue;
			color: white;
			border: 0px;
		}
		.itachi   {
			left: 5%;
			position: absolute;
		}
		.minato  {
			left: 40%;
			position: absolute;
		}
		.lee  {
			left: 75%;
			right: 25%;
			position: absolute;
		}